*, *:after, *:before {
  box-sizing: border-box;
}


.photo{
    top: 50%;
    left: 15%;
    transform: translate(0%, 0%);
    display: block;
  }

  
  .photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 210%;
    height: 90%;
    top: 0;
    
  }
  
  .photo .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover img,
  .photo:hover .glow-wrap{
    margin-top: 0;
  }

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}
        /* modificacion 15/09 GS*/
.cardContainer {        
  position: relative;
  width: 300px;
  height: 500px;
  min-width: 250px;
  min-height: 500px;
  margin: 4px;
  /* margin-right: 50px; */             /*Si se deja las tarjetas no quedan parejas*/     
  perspective: 1000px;
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: inline;
}

.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(19, 19, 61);
}
.card .front {
  z-index: 2;
}
.card .back {
  transform: rotateY(180deg);
}
.card .info {
  padding: 16px;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
.front .img1 {
  background-image: url(../img/servicios/1.webp);
}
.front .img2 {
  background-image: url(../img/servicios/2.webp);
}
.front .img3 {
  background-image: url(../img/servicios/4.webp);
}
.front .img4 {
  background-image: url(../img/servicios/3.webp);
}

.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back .reviews:hover p {
  color: #555;
}
.back{
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e72f2f;
  background-image: linear-gradient(-90deg, #e72f2f, #e72f2f);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn:hover h4 {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}







/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
/*-- W3Layouts --*/	
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}

/*--- end reset code ---*/
.container_f {
	background:url(../images/) no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	font-family: 'Raleway', sans-serif;
}
h1.w3layouts {
    text-align:center;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    padding: 25px 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.content-w3ls {
    width: 70%;
    margin: 0 auto;
	/* background-color: rgba(59, 87, 91, 0.57); */

        /* modificacion 15/09 GS*/
    background-color: rgb(19, 19, 61);
}
        /* modificacion 15/09 GS*/
/* Eliminacion de ",.content-w3ls .content2-agile" 
Para eliminar la imagen junto al formulario de contacto
*/
.content-w3ls .content1-agile{
	width:100%;
	float:left;
}
.info-w3l {
    padding: 30px 40px;
}
h2.wthree {
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: CENTER;
    padding-bottom: 20px;
    text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
input#username,input#email,textarea#message {
	display:block;
	font-size:17px;
	font-weight:normal;
	color:#fff;
	/* text-align:center; */
	background-color: rgba(0, 41, 38, 0.35);
	border:1px solid rgba(255,255,255,0.5);
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	outline:none;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
input#username:focus,input#email:focus,textarea#message:focus {
	background-color:rgba(0,0,0,0.5);
	border:1px solid #fff;
}
input#username,input#email {
	height:45px;
	width:90.1%;
	padding: 0 25px;
}
textarea#message {
	height:135px;
	width:94%;
	padding:15px;
}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}
textarea::-webkit-input-placeholder {
color: #fff !important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
textarea::-ms-input-placeholder {  
color: #fff !important;  
}
input.sign-in {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
	display: block;
    background-color:#e72f2f;
    border-color:#c83a2c;
	font-family: 'Roboto Condensed', sans-serif;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	outline:none;
	cursor:pointer;
}
input.sign-in:hover {
    background-color:#e74c3c;
    border-color:#e74c3c;
	color: #fff;
}
.content-w3ls .content2-agile {
	background:url(../images/content.jpg) no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:640px;
}
p.agileinfo {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	position:relative;
}
p.agileinfo:before {
	position: absolute;
    content: '';
    background-color: #fff;
    width: 44%;
    height: 1px;
    left: 0;
    top: 38px;
}
p.agileinfo:after {
	position:absolute;
	content:'';
	background-color:#fff;
	width:44%;
	height:1px;
	right:0;
	top:38px;
}
p.agileinfo:after {
	
}
ul.social-w3-agileits {
    list-style: none;
	text-align:center;
}
ul.social-w3-agileits li {
	display:inline-block;
}
ul.social-w3-agileits li a i.fa {
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	color:#fff;
	border:1px solid #fff;
	transition:all 0.7s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
ul.social-w3-agileits li a i.fa.fa-facebook:hover {
	background-color:#3b5998;
	color:#fff;
}
ul.social-w3-agileits li a i.fa.fa-youtube:hover {
	background-color:#cd201f;
	color:#fff;
}
ul.social-w3-agileits li a i.fa.fa-twitter:hover {
	background-color:#1da1f2;
	color:#fff;
}
ul.social-w3-agileits li a i.fa.fa-google-plus:hover {
	background-color:#dd4b39;
	color:#fff;
}
ul.social-w3-agileits li a i.fa.fa-linkedin:hover {
	background-color:#0077b5;
	color:#fff;
}
ul.social-w3-agileits li a i.fa:hover {
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
ul.social-w3-agileits li a i.fa:hover {
    -webkit-animation: spin 0.7s linear infinite;
	animation: spin 0.7s linear infinite;
	-moz-animation: spin 0.7s linear infinite;
	-o-animation: spin 0.7s linear infinite;
	-ms-animation: spin 0.7s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p.copyright-agileits {
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 40px 10px;
}
p.copyright-agileits a {
	color:#e72f2f;
}
p.copyright-agileits a:hover {
	color:#e74c3c;
}

/*-- responsive design --*/
@media (max-width:1600px) {
	.content-w3ls .content2-agile {
		min-height:609px;
	}
}

@media (max-width:1440px) {
textarea#message {
	width:100%;	
}
input#username, input#email {
	width:100%;
}
}

@media (max-width:1366px) {
input#username, input#email {
    width: 100%;
}
.content-w3ls {
    width: 100%;
}
}

@media (max-width: 1280px) {
textarea#message {
    width: 100%;
}
input#username, input#email {
    width: 100%;
}
textarea#message {
    height: 120px;
}
}

@media (max-width: 1080px) {
textarea#message {
    width: 100%;
}
h1.w3layouts {
	font-size: 45px;
}
.info-w3l {
    padding: 25px 30px;
}
.content-w3ls .content2-agile {
    min-height: 584px;
}
h2.wthree {
    font-size: 23px;
	padding-bottom:15px;
}
input#username, input#email {
    height: 40px;
	width: 100%;
}
input#username, input#email, textarea#message {
	font-size:15px;
}
p.copyright-agileits {
    font-size: 14px;
}
}

@media (max-width: 1024px) {
.content-w3ls {
    width: 100%;
}
textarea#message {
    width: 100%;
}
input#username, input#email {
	width: 100%;
}
}

@media (max-width: 991px) {
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 900px) {
textarea#message {
    width: 100%;
}
input.sign-in {
	height: 45px;
}
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 800px) {
h1.w3layouts {
    font-size: 40px;
}
input#username, input#email {
    width: 100%;
}
textarea#message {
    width: 100%;
}
}

@media (max-width: 768px) {
.content-w3ls {
    width: 100%;
}	
.content-w3ls .content1-agile, .content-w3ls .content2-agile {
    width: 100%;
    float: left;
}
input#username, input#email {
    width: 100%;
    margin: 0 auto 15px;
}
textarea#message {
    width:100%;
    margin: 0 auto 20px;
	height:100px;
}
input.sign-in {
    height: 40px;
	font-size:17px;
	margin:0 auto;
	width:100%;
}
.content-w3ls .content2-agile {
    min-height: 360px;
}
p.agileinfo:before {
	left: 23px;
	width: 36%;
}
p.agileinfo:after {
	right: 23px;
	width: 36%;
}
}

@media (max-width: 667px) {
.content-w3ls .content2-agile {
    min-height: 300px;
}
h1.w3layouts {
    font-size: 36px;
}
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 640px) {
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 568px) {
h1.w3layouts {
    font-size: 33px;
}
}

@media (max-width: 480px) {
.content-w3ls {
    width: 100%;
}
h1.w3layouts {
    font-size: 30px;
}
input#username, input#email {
    width: 100%;
    margin: 0 auto 15px;
}
textarea#message {
    width: 100%;
    margin: 0 auto 20px;
    height: 100px;
}
input.sign-in {
    height: 40px;
    font-size: 17px;
    margin: 0 auto;
    width: 100%;
}
p.agileinfo {
	font-size:25px;
}
p.agileinfo:before {
    left: 9px;
    width: 38%;
	top:35px;
}
p.agileinfo:after {
    right: 9px;
    width: 38%;
	top:35px;
}
p.copyright-agileits {
	padding: 20px 10px;
    line-height: 30px;
}
}

@media (max-width: 414px) {
h1.w3layouts {
    font-size: 30px;
    padding: 20px 0;
}
.content-w3ls {
    width: 100%;
}
.info-w3l {
    padding: 20px 0px;
}
input#username, input#email {
    width: 100%;
    margin: 0 auto 15px;
}
textarea#message {
    width: 100%;
    margin: 0 auto 15px;
    height: 100px;
}
input.sign-in {
    height: 40px;
    font-size: 17px;
    margin: 0 auto;
    width: 100%;
}
p.agileinfo {
    font-size: 23px;
}
p.agileinfo:before {
    left: 25px;
    width: 35%;
    top: 35px;
}
p.agileinfo:after {
    right: 25px;
    width: 35%;
    top: 35px;
}
.content-w3ls .content2-agile {
    min-height: 250px;
}
}

@media (max-width: 384px) {
h1.w3layouts {
    font-size: 27px;
    padding: 20px 0;
}
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 375px) {
h2.wthree {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 300;
}
input#username, input#email {
    width: 100%;
}
}

@media (max-width: 320px) {
h1.w3layouts {
    font-size: 24px;
    padding: 20px 0;
}
.content-w3ls {
    width: 100%;
}
input#username, input#email, textarea#message {
    font-size: 14px;
}
input#username, input#email {
    width: 100%;
    margin: 0 auto 10px;
}
input.sign-in {
    height: 40px;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}
p.agileinfo {
    font-size: 20px;
	padding:15px 0;
}
p.agileinfo:before {
    left: 18px;
    width: 35%;
    top: 27px;
}
p.agileinfo:after {
    right: 18px;
    width: 35%;
    top: 27px;
}
ul.social-w3-agileits li a i.fa {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
}
.content-w3ls .content2-agile {
    min-height: 200px;
}
p.copyright-agileits {
    font-size: 13px;
}
}
/*-- /responsive design --*/